---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Navbar from "../components/Navbar.astro";
---

<Layout title="Bienvenidos a Tuna Barcelona">
	<div class="flex flex-col">
		<Navbar />
		<!-- <Header /> -->
		<main class="flex-1">
			<div class="text-center">
				<h1 class="font-bold text-4xl mb-14">
					Tuna de Ciencias de Barcelona
				</h1>
			</div>

			<div class="flex flex-col md:flex-row w-full">
				<img
					src="/assets/img/index/portocovo.jpg"
					alt="banner"
					class="w-full object-cover"
					title="portocovo"
				/>
			</div>

			<!-- Nuestros valores -->
			<div
				class="flex flex-col flex-wrap justify-between m-auto max-w-7xl"
			>
				<h2 class="text-center w-full text-3xl pt-10 font-bold mb-3">
					Nuestros valores
				</h2>
				<div class="w-full flex flex-col mb-10">
					<div
						class="bg-white rounded-md p-4 mb-4 flex flex-col md:flex-row w-full gap-5"
					>
						<img
							src="/assets/img/index/becas.jpg"
							title="becas"
							alt="banner"
							class="w-full md:w-1/2 object-cover rounded-md order-1 md:order-1"
						/>

						<div
							class="flex flex-col text-center gap-8 md:text-2xl order-2 md:order-2"
						>
							<h3 class="font-bold w-full text-2xl">
								Quienes Somos
							</h3>

							<p>
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Mollitia, nesciunt
								repudiandae. Molestiae nemo dolor fugit in
								nostrum quae, non asperiores possimus modi esse,
								nesciunt, nulla provident. Dolorem nobis
								architecto fugiat.
							</p>

							<a
								href="/quienes-somos"
								class="bg-[#251379] text-white px-4 py-2 rounded-lg w-1/3 flex justify-center text-center mx-auto items-center"
								>Quienes Somos</a
							>
						</div>
					</div>
				</div>
				<div class="w-full flex flex-col mb-10">
					<div
						class="bg-white rounded-md p-4 mb-4 flex flex-col md:flex-row w-full gap-5"
					>
						<div
							class="flex flex-col text-center gap-8 md:text-2xl order-2"
						>
							<h3 class="font-bold w-full text-2xl">Historia</h3>

							<p>
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Mollitia, nesciunt
								repudiandae. Molestiae nemo dolor fugit in
								nostrum quae, non asperiores possimus modi esse,
								nesciunt, nulla provident. Dolorem nobis
								architecto fugiat.
							</p>

							<a
								href="/historia"
								class="bg-[#251379] text-white px-4 py-2 rounded-lg w-1/3 flex justify-center text-center mx-auto"
								>Historia</a
							>
						</div>
						<img
							src="/assets/img/index/becas.jpg"
							title="becas"
							alt="banner"
							class="w-full md:w-1/2 object-cover rounded-md order-1 md:order-2"
						/>
					</div>
				</div>
				

				<div class="w-full flex flex-col mb-10">
					<div
						class="bg-white rounded-md p-4 mb-4 flex flex-col md:flex-row w-full gap-5"
					>
						<div
							class="flex flex-col text-center gap-8 md:text-2xl order-2"
						>
							<h3 class="font-bold w-full text-2xl">Contacto</h3>

							<p>
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Mollitia, nesciunt
								repudiandae. Molestiae nemo dolor fugit in
								nostrum quae, non asperiores possimus modi esse,
								nesciunt, nulla provident. Dolorem nobis
								architecto fugiat.
							</p>

							<a
								href="/contacto"
								class="bg-[#251379] text-white px-4 py-2 rounded-lg w-1/3 flex justify-center text-center mx-auto"
								>Contacto</a
							>
						</div>

						<img
							src="/assets/img/index/becas.jpg"
							title="becas"
							alt="banner"
							class="w-full md:w-1/2 object-cover rounded-md order-1 md:order-2"
						/>
					</div>
				</div>

				<section class="w-full flex flex-col mb-10">
					<h3 class="font-bold w-full text-3xl text-center mb-8">Notícias</h3>
					<div
						class="bg-white rounded-md p-4 mb-4 flex flex-col md:flex-row w-full gap-5"
					>
						<div class="w-full flex flex-col lg:flex-row gap-6 text-center md:text-2xl">
							<div class="">
								<img class="rounded-md" src="/assets/img/noticias/antequera_post.jpg" alt="notícia 1">
								<p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis similique ut cupiditate commodi ex repellendus corrupti minus</p>
							</div>
							<div class="">
								<img class="rounded-md" src="/assets/img/noticias/antequera_post.jpg" alt="notícia 2">
								<p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis similique ut cupiditate commodi ex repellendus corrupti minus</p>
							</div>
							<div class="">
								<img class="rounded-md" src="/assets/img/noticias/antequera_post.jpg" alt="notícia 3">
								<p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis similique ut cupiditate commodi ex repellendus corrupti minus</p>	
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	</div>
	<Footer />
</Layout>

<style></style>
